<div class="giscus-comments" style="width: 100%; max-width: 780px; margin: 3rem auto 0; padding: 0 1rem; box-sizing: border-box;">
    <script src="https://giscus.app/client.js"
        data-repo="<%= commentSetting.giscusSetting.repo %>"
        data-repo-id="<%= commentSetting.giscusSetting.repoId %>"
        data-category="<%= commentSetting.giscusSetting.category %>"
        data-category-id="<%= commentSetting.giscusSetting.categoryId %>"
        data-mapping="<%= commentSetting.giscusSetting.mapping %>"
        data-strict="<%= commentSetting.giscusSetting.strict %>"
        data-reactions-enabled="<%= commentSetting.giscusSetting.reactionsEnabled %>"
        data-emit-metadata="0"
        data-input-position="<%= commentSetting.giscusSetting.inputPosition %>"
        data-theme="<%= commentSetting.giscusSetting.theme %>"
        data-lang="<%= commentSetting.giscusSetting.lang %>"
        data-loading="<%= commentSetting.giscusSetting.loading %>"
        crossorigin="anonymous"
        async>
    </script>
</div>
